<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{64,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{64,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{62,74}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{62,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,76},{64,64}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{64,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{62,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,78},{62,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{62,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{62,64}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{62,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,152},{64,68}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{64,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd4445d45d0e466a3d15ab643beeab42$</string>
            <key>textureFileName</key>
            <string>p_1.png</string>
        </dict>
    </dict>
</plist>
